<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="w3.css">
    <link rel="stylesheet" href="schulte.css">
    <script src="vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app" class="wrapper w3-container w3-padding-0 w3-margin-0"
         tabindex="-1"
         @keyup.esc="dialogShowed ? hideDialog() : execDialog()"
         v-focus>

        <input type="number" min="2" max="9" step="1" value="5" required
               @input="changeGridSize"
               class="grid-input">

        <div v-for="r in gridRange" class="row" :style="{height: rowHeight}">
            <div v-for="c in gridRange" class="cell" :style="{width: colWidth}"
                 @mouseover="hoveredCell = r*gridSize + c"
                 @mouseleave="hoveredCell = -1"
                 @click="selectedCell = r*gridSize + c"
                 :class="{'normal-cell' : !showHover && !showSelect,
                          'hovered-cell': showHover && (hoveredCell == r*gridSize + c),
                          'correct-cell': showHitResult && (selectedCell == r*gridSize + c) && selectedCell == correctIndex,
                          'wrong-cell'  : showHitResult && (selectedCell == r*gridSize + c) && selectedCell != correctIndex,
                          'traced-cell' : showTrace && tracedCell(r*gridSize + c)
                          }">
                {{ cells[r*gridSize + c] }}
            </div>
        </div>

        <!--<button class="settings-btn w3-button w3-xlarge w3-black"-->
                <!--onclick="document.getElementById('id01').style.display='block'">-->
        <!--Settings</button>-->

        <button id="settings-btn"
                @click="execDialog">
            <img src="img/settings_48.png" class="w3-opacity-max">
        </button>


        <div class="w3-modal"
             :class="[dialogShowed ? 'display-block' : 'display-none']">
            <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:500px">
                <div class="w3-panel w3-blue">
                    <div class="w3-center"><br>
                        <span @click="hideDialog"
                              class="w3-button w3-xlarge w3-hover-red w3-display-topright"
                              title="Close Modal">
                        &times;
                        </span>
                    </div>
                </div>
                <div class="w3-container">
                    <button type="button" class="w3-button w3-red">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script src="schulte.js"></script>
</body>
</html>