<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="vue.js"></script>
    <style> 
        * {
            margin: 5px;
            font-family: Arial, sans-serif;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div id="app">
        <p v-if="show">You can see me!</p>
        <p v-else=>Now you see me!</p>
        <template v-if="show">
            <h1>Heading</h1>
            <p>Inside template</p>
        </template>
        <p v-show="show">Do you also see me?</p>

        <button v-on:click="show = !show">{{show ? 'Hide' : 'Show'}}</button>
        <hr>
            <ul>
                <li v-for="person in persons">
                    <div v-for="(value, key) in person"> {{ key }}: {{ value }} </div>
                </li>    
            </ul>
        <hr>
        <br>
        <ul>
            <li v-for="(ingredient, idx) in ingredients"> {{ ingredient }} ({{ idx }})</li>
        </ul>
        <br>
        <template v-for="(ingredient, idx) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p> {{ idx }} </p>
        </template>


    </div>

    <script>
        new Vue ({
            el: '#app',
            data: {
                show: true,
                ingredients: ['meat', 'fruit', 'cookies'],
                persons: [
                    {name: 'Bob', age: 27, color: 'red'},
                    {name: 'Helen', age: 'unknown', color: 'blue'},
                ],
            },
            methods: {
                onClick: function () {

                }
            }
        })
    </script>

</body>
</html>